<div class="bg-primary d-flex flex-column justify-content-center" style="height: 250px;">
    <div class="container text-center">
        <p class="fw-bold bold fs-1">Shop in Style</p>
        <p class="fw-semibold fst-italic">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div class="container mt-4">
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Item Here!" aria-label="Search" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-dark fw-semibold text-light" type="button" id="button-addon2">Search</button>
            </div>
          </div>
        </form>
      </div>
</div>