<div class="row gx-4 gx-lg-5 row-cols-xs-1 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center m-5">
    <div *ngFor="let card of cards">
        <div class="col mb-5">
            <div class="card h-100">
                <img class="card-img-top img-fluid" style="height: 250px;" src="{{card.image}}" alt="image not found">
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder">{{card.heading}}</h5>
                        <!-- Product reviews-->
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                        ${{card.price}}
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-primary mt-auto" href="{{card.link}}">Add to cart</a></div>
                </div>
            </div>
        </div>    
    </div>
</div>
