<div class="row bg-primary text-light d-flex align-items-center justify-content-between" style="height: 350px;">
    <div class="col-7 d-flex justify-content-around">
        <div class="">
            <div class="mb-2">ABOUT</div>
            <div>
                <ul class="list-unstyled fw-bold" style="font-size: 14px;">
                    <li><a class="text-decoration-none text-light" href="#">About Us</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Contact Us</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Career</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Information</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="mb-2">CONSUMER POLICY</div>
            <div>
                <ul class="list-unstyled fw-bold" style="font-size: 14px;">
                    <li><a href="#" class="text-decoration-none text-light">Privacy Policy</a></li>
                    <li><a href="#" class="text-decoration-none text-light">T&C</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Track Order</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Term Of Use</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Services</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Supports</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="mb-2">HELP</div>
            <div>
                <ul class="list-unstyled fw-bold" style="font-size: 14px;">
                    <li><a href="" class="text-decoration-none text-light">Payment</a></li>
                    <li><a href="" class="text-decoration-none text-light">Shipping</a></li>
                    <li><a href="" class="text-decoration-none text-light">Cancellation</a></li>
                    <li><a href="" class="text-decoration-none text-light">Returns</a></li>
                    <li><a href="" class="text-decoration-none text-light">FAQs</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="mb-2">Online Order</div>
            <div>
                <ul class="list-unstyled fw-bold" style="font-size: 14px;">
                    <li><a href="#" class="text-decoration-none text-light">Men</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Women</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Kids</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Home & Living</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Gift Cards</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Beauty</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-around border-start ">
        <div>
            <div class="mb-2">CONTACT US</div>
            <div class="pb-2">
                <div class="d-flex mb-2" style="font-size: 14px;">
                    <div class="me-2"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="fw-semibold" style="width: 180px;">Block- A Office No-808 A 8th floor Joys Hub town,
                        <br> Ahmadabad Gujarat, India</div>
                </div>
                <div class="d-flex mb-2" style="font-size: 14px;">
                    <div class="me-2"><i class="fa-solid fa-phone"></i></div>
                    <div class="fw-semibold" style="width: 180px;">+91 98765XXXXX</div>
                </div>
                <div class="d-flex mb-2" style="font-size: 14px;">
                    <div class="me-2"><i class="fa-solid fa-envelope"></i></div>
                    <div class="fw-semibold" style="width: 180px;">shoppingkart.com</div>
                </div>
            </div>
        </div>
        <div>
            <div class="mb-2">SUBSCRIBE NOW</div>
            <div>
                <p style="font-size: 14px;">Subcribe to recieve our Newsletter</p>
                <div class="input-group">
                    <input type="text" class="form-control" value="" placeholder="Email Address" >
                    <span class="input-group-text"><i class="fa-solid fa-location-arrow"></i></span>
                    <!-- <div><i class="fa-solid fa-location-arrow"></i></div> -->
                </div>
            </div>
            <div class="d-flex pt-3 justify-content-center" style="font-size: 27px;">
                <div class="pe-3"><i class="fa-brands fa-twitter"></i></div>
                <div class="pe-3"><i class="fa-brands fa-linkedin"></i></div>
                <div class="pe-3"><i class="fa-brands fa-instagram"></i></div>
                <div class="pe-3"><i class="fa-brands fa-facebook"></i></div>
                <div><i class="fa-brands fa-youtube"></i></div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>